
/*********************
***   ABOUT  ME    ***
**********************/
#shel1-for-about {
    font-family: 'La Belle Aurore';
    display: inline-block;
    position: absolute;
    top: 16%;
    left: 130px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  #shel2-for-about {
    font-family: 'La Belle Aurore';
    display: inline-block;
    position: absolute;
    top: 23%;
    left: 160px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  #text-shell-for-about {
    font-family: 'La Belle Aurore';
    display: inline-block;
    position: absolute;
    top: 32%;
    left: 390px;
    color: #bfb7ab;
    font-weight: normal;
    margin-top: 10px;
    font-size: 20px;
  }
  
  #shel3-for-about {
    font-family: 'La Belle Aurore';
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 160px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  #shel4-for-about {
    font-family: 'La Belle Aurore';
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 130px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  .about-heading {
    position: absolute;
    padding-left: 170px;
    top: 26%;
    color: #08fdd8;
    font-size: 3.3em;
    letter-spacing: -9px;
    font-family: 'Concert One';
    transition: 1s ease-in-out;
  }
  
  .about-heading span {
    display: inline-block;
    position: relative;
    text-transform: lowercase;
    animation: wavy 5s ease-in-out 1;
    animation-delay: calc(0.1s * var(--i));
  }
  @keyframes wavy {
    0% {
      transform: translateY(0px);
    }
    20% {
      transform: translateY(-20px);
    }
    40%,
    100% {
      transform: translateY(0px);
    }
  }
  
  .about-heading span:hover {
    animation: bounce 1s ease-in-out;
    animation-delay: 15s;
  }
  
  #about-text {
    display: block;
    position: absolute;
    font-family: 'Open Sans';
    color: #fff;
    margin-left: 13%;
    top: 40%;
    float: left;
    padding-right: 50%;
  }
  /******************
  *** IMAGE CARD ***
  *******************/
  .container {
    position: absolute;
    top: 30%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 75%;
    margin-top: 10%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  
  .container .card {
    position: absolute;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    
  }
  
  .container .card .content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
    transform: translateZ(20px);
  }
  .container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .container .card .content .imgBox {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
  }
  .container .card .content .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container .card .content .contentBox h3 {
    color: #fff;
    font-family: 'Poppins';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  
  .container .card .content .contentBox h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  
  .container .card .sci {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-25%, 0);
    display: flex;
  }
  .container .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
  .container .card:hover .sci li {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .container .card .sci li a {
    text-align: center;
    color: #fff;
    font-size: 24px;
  }
  
  .sci {
    text-align: center;
    margin-left: -10%;
  }
  
  label {
    margin-left: 130px;
    color: #fff;
  }
  
  #progress-bar1 {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 50%;
    text-align: center;
    text-transform: uppercase;
  }
  
  #progress-bar {
    margin-left: 10%;
    margin-right: 50%;
    text-align: center;
    text-transform: uppercase;
  }