/***********************
***    CONTACT ME    ***
************************/

.contact-header {
    position: relative;
    padding-left: 130px;
    padding-top: 7%;
    color: #08fdd8;
    font-size: 3.3em;
    letter-spacing: -9px;
    font-family: 'Concert One';
  }
  
  .contact-subtext {
    position: relative;
    padding-left: 135px;
    margin-top: -2px;
    color: #8d8d8d;
    font-weight: normal;
    font-size: 13px;
    font-family: 'Anaheim', Helvetica;
    letter-spacing: 2.7px;
  }
  
  .subtext-for-contact {
    position: relative;
    margin-left: 130px;
    margin-top: 3%;
    color: #fff;
    font-family: 'Open Sans';
    float: left;
    margin-right: 56%;
  }
  
  .form {
    position: relative;
    margin-top: 150px;
    margin-left: 85px;
    font-size: 17px;
    color: #111;
  }
  
  .contact-form {
    padding: 9px;
    list-style: none;
  }
  
  #msg-area {
    padding: 9px;
    list-style: none;
  }
  
  input {
    background: rgba(0, 0, 0, 0.3);
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 300ms ease;
  }
input:valid
  {
    background: #08fdd8;
  }
  input:focus
  {
    background: #08fdd8;
  }
  
  #msg-area {
    background: rgba(0, 0, 0, 0.3);
    width: 29.6%;
    margin-left: 9px;
    margin-top: 9px;
    border-radius: 7px;
    border: none;
    outline: none;
  }
  #msg-area:focus
  {
    background: #08fdd8;
  }
  textarea:valid
  {
    background: #08fdd8;
  }
  #submit {
    position: absolute;
    background: none;
    border: none;
    left: 31%;
    bottom: -4px;
    font-size: 30px;
  }
  #submit
  {
    color: yellow;
    border: none;
    outline: none;
  }
  
  .send-icon {
    color: #08fdd8;
  }
  
  .send-icon:focus {
    color: yellow;
  }
  .locbgbg
  {
    height: 250px;
    width: 400px;
    position: absolute;
    left: 57%;
    top: 31.5%;
    border-radius: 1.2em;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid #333;
  }
  .loctxt h1
  {
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Abhaya Libre', Serif, 'Source Code Pro';
  }
  .loctxt p
  {
    position: absolute;
    left: 0;
    top: 48%;
    margin: 21px 26px;
    color: white;
    font-size: 12px;
    display: block;
    overflow: hidden;
  }