@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Source+Code+Pro');

.navbar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    background: #121414;
}
.navbaricons
{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* #7F7B74 */
.navbaricons a
{
    padding: 5px;
    font-size: 27px;
    color: #7F7B74;
    background: #121414;
    width: 70px;
    text-align: center;
    transition: 300ms ease-in-out;
}
.navbaricons a:hover
{
    opacity: 0;
}
.iconname
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.iconname p
{
    color: #20fddc;
    font-family: 'Source Code Pro';
    padding: 7px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
.NavbarSocialLinks
{
    display: grid;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
}
.NavbarSocialLinks a
{
    padding: 2px;
    font-size: 16px;
    color: #7F7B74;
}
.NavbarSocialLinks a:hover
{
    color: #20fddc;
}