/*********************
*** SKILLS SECTION ***
**********************/
#shel1-for-skill {
    font-family: 'La Belle Aurore';
    margin-top: 100px;
    margin-left: 120px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  #shel2-for-skill {
    font-family: 'La Belle Aurore';
    margin-top: 10px;
    margin-left: 140px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  #text-shell-for-skill {
    font-family: 'La Belle Aurore';
    margin-top: -30px;
    margin-left: 400px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  #shel3-for-skill {
    font-family: 'La Belle Aurore';
    margin-top: 50px;
    margin-left: 140px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  #shel4-for-skill {
    font-family: 'La Belle Aurore';
    margin-top: 30px;
    margin-left: 120px;
    color: #bfb7ab;
    font-size: 20px;
  }
  
  .skills {
    position: relative;
    padding-left: 150px;
    color: #08fdd8;
    font-size: 3.3em;
    letter-spacing: -9px;
    font-family: 'Concert One';
  }
  #ex {
    margin-top: -2.3%;
  }
  
  .skills span {
    display: inline-block;
    position: relative;
    text-transform: lowercase;
    animation: tilt 2.5s ease-in-out 1;
    animation-delay: calc(50ms * var(--i));
  }
  
  @keyframes tilt {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .skills span:hover {
    animation: wavy 100s ease-in-out 1;
    animation-delay: calc(0.1s * var(--i));
  }
  
  #skills-text {
    font-family: 'Open Sans';
    color: #fff;
    margin-left: 13%;
    margin-top: 2%;
    float: left;
    padding-right: 50%;
  }
  img {
    height: 100px;
    width: auto;
  }
  
  #bubble {
    height: 150px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 30%;
    animation: bbl 30s linear infinite;
  }
  
  #cursor {
    position: absolute;
    margin-top: -2%;
    margin-left: 5%;
    border: none;
    transition: 100ms;
  }
  
  @keyframes bl {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    20% {
      transform: translate3d(30px, -10px, 0);
      opacity: 1;
    }
    40% {
      transform: translate3d(20px, 0, 0);
      opacity: 1;
    }
    60% {
      transform: translate3d(0, 10px, 0);
      opacity: 1;
    }
    70% {
      transform: translate3d(-10px, 0, 0);
      opacity: 1;
    }
    80% {
      transform: translate3d(0, 10px, 0);
      opacity: 1;
    }
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }