@import url('https://fonts.googleapis.com/icon?family=Dancing+Script');
@import url('https://fonts.googleapis.com/icon?family=Bad+Script');
@import url('https://fonts.googleapis.com/icon?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/icon?family=Concert+One');
@import url('https://fonts.googleapis.com/icon?family=Anaheim');
@import url('https://fonts.googleapis.com/icon?family=Sofia');
@import url('https://fonts.googleapis.com/icon?family=Oswald');
@import url('https://fonts.googleapis.com/icon?family=Lato');
@import url('https://fonts.googleapis.com/icon?family=Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/icon?family=Poppins');
@import url('https://fonts.googleapis.com/icon?family=Abhaya+Libre');
@import url('https://fonts.googleapis.com/icon?family=Lora');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://www.w3schools.com/w3css/4/w3.css');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1d1d1d;
}
/**
*** PRE LOADER ***
***/
.preload{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1d1d1d;
  z-index: 18;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  transition: opacity 0.5s ease;
}

.preload-finish{
  opacity: 0;
  pointer-events: none;
}
.load
{
    position: relative;
    width: 250px;
    height:250px;
    border-radius: 50%;
    background: linear-gradient(#1deffe, #ff3eff, #d4ff36);
    animation: animate 0.5s linear infinite;
}
@keyframes animate
{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.load span
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#1deffe, #ff3eff, #d4ff36);
}
/*
#######################
  I HAVE CHANGED THE PRELOADER
 1. SPAN CHILD IS FOR BLUR
 2. LOAD:AFTER WAS SET TO 10PX &
 3. LOADING TEXT WAS SET TO 27PX 
#######################
.load span:nth-child(1)
{
    filter: blur(5px);
}
.load span:nth-child(2)
{
    filter: blur(10px);
}
.load span:nth-child(3)
{
    filter: blur(25px);
}
.load span:nth-child(4)
{
    filter: blur(40px);
}
*/
.load::after
{
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    background: #1d1d1d;
    border-radius: 50%;
}
#loadingText
{
    position: absolute;
    z-index: 16;
    color: #fff;
    font-family: Times;
    letter-spacing: 5px;
    font-size: 17px;
    font-weight: 100;
}