* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    font-size: 18px;
}

html,
html:focus-within {
    scroll-behavior: smooth;
}

body {
    background-image: url('./bg-for-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms ease;
}

header {
    width: 100%;
    height: 10vh;
    position: relative;
    top: 0;
}

header nav {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav p {
    cursor: pointer;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    display: flex;
}

ul li {
    padding-left: 50px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

section {
    width: 50%;
    margin: auto;
    height: 100%;
}

.container {
    /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%); */

    width: 100%;
    height: 100%;
    margin-top: 20%;
    transform: translateY(-20%);
    text-align: center;
    text-transform: capitalize;
}

.container h1 {
    font-size: 4.4em;
    font-weight: 400;
    letter-spacing: 3px;
}

section form {
    position: relative;
    margin-top: 20%;
}

section form input {
    position: relative;
    width: 50%;
    margin: auto;
    height: 2em;
    border: 1.3px solid black;
    background: transparent;
    border-radius: 5px;
    padding: 0px 10px;
}

section form input::placeholder {
    color: #000000;
    font-weight: 200;
}

section form input:focus {
    outline: none;
}

section form button {
    position: absolute;
    top: 0;
    right: 20%;
    transform: translateX(-20%);
    width: 50px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #7d068f;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: all 200ms ease;
}

section form button:hover {
    background: #c90ee6;
    color: black;
}
section form button:focus {
    outline: none;
}

section .result {
    width: 100%;
    text-align: center;
}

section .result h1 {
    color: #620671;
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: 1.3px;
}

/*
 * MEDIA FOR MOBILE
 */

@media (max-width: 768px) {
    header {
        width: 90%;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    header nav {
        width: 100%;
    }
    nav h1 {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 24px;
        padding-bottom: 15px;
    }
    nav ul {
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0px;
    }
    ul li {
        padding: 0px 25px;
        font-size: 1.13em;
    }

    body {
        background-image: url('./bg-for-mobile.png');
    }

    section {
        width: 90%;
        margin: auto;
    }
    .container h1 {
        font-size: 2.3em;
        letter-spacing: 1.2px;
    }
    section form input {
        width: 70%;
    }
    section form input::placeholder {
        font-size: 0.9em;
    }

    section form button {
        right: 10%;
        transform: translateX(-10%);
    }
    section form button:focus {
        background: #c90ee6;
    }

    section .result {
        width: 100%;
        text-align: center;
    }
}
