section .song-list {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    width: 65%;
}

section .song-list li {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.135),
        rgba(255, 255, 255, 0.135)
    );
    border: 1.3px solid rgba(255, 255, 255, 0.2);
    padding: 10px 5px;
    margin-bottom: 20px;
    transition: all 300ms ease;
    border-radius: 20px;
    cursor: pointer;
}

section .song-list li:hover {
    transform: scale(1.024);
    background: rgba(255, 255, 255, 0.235);
}

section .song-list li span {
    display: flex;
    text-align: left;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms;
}

section .song-list li span div {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    max-width: 60%;
}

section .song-list li span strong {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
}

section .song-list li span i {
    font-style: normal;
    font-weight: 200;
}

section .song-list li span p {
    font-size: 1.123em;
}

section .song-list li span img {
    width: auto;
    max-height: 110px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.135);
}

/*
 * MEDIA FOR MOBILE
 */

@media (max-width: 768px) {
    section .song-list {
        width: 100%;
        margin: auto;
    }
    section .song-list li {
        padding: 5px 2px;
        margin-bottom: 20px;
        transition: all 300ms ease;
        border-radius: 20px;
        cursor: pointer;
    }
    section .song-list li:focus {
        transform: scale(1.024);
        background: rgba(255, 255, 255, 0.235);
    }
    section .song-list li span strong {
        font-size: 1.235em;
        font-weight: bold;
        text-align: left;
    }

    section .song-list li span i {
        font-style: normal;
        font-weight: 200;
    }

    section .song-list li span p {
        font-size: 1.1em;
    }

    section .song-list li span img {
        width: auto;
        max-height: 100px;
        object-fit: cover;
        border-radius: 12px;
        border: 2px solid rgba(255, 255, 255, 0.135);
    }
}
