
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #091921;
    }
    body::before
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#e91e63, #ffc107);
        clip-path: circle(22% at 30% 20%);
    }
    body::after
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#fff, #da00ff);
        clip-path: circle(22% at 70% 90%);
    }
    .container
    {
        position: relative;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 6px;
        overflow: hidden;
        z-index: 10;
        backdrop-filter: blur(25px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    }
    .container .calculator
    {
        position: relative;
        display: grid;
    }
    .container .calculator .value
    {
        grid-column: span 4;
        height: 140px;
        width: 300px;
        text-align: right;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 30px;
        background: transparent;
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
    }
    .value
    {
        pointer-events: none;
    }
    .container .calculator span
    {
        display: grid;
        place-items: center;
        height: 75px;
        width: 75px;
        color: #fff;
        font-weight: 300;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        transition: 300ms;
    }
    .container .calculator span:hover
    {
        transition: 0;
        background: rgba(255, 255, 255, 0.05);
    }
    .container .calculator span:active
    {
        background: #14ff47;
        color: #192f00;
        font-size: 24px;
        font-weight: 500;
    }
    .container .calculator .clear
    {
        grid-column: span 2;
        width: 150px; 
        background: rgba(255, 255, 255, 0.05);
    }
    .container .calculator .plus
    {
        grid-row: span 2;
        height: 150px;
    }
    .equal
    {
        background: rgba(255, 255, 255, 0.2);
    }
.headpage
{
    display: none;
}
.headpage h1
{
    display: none;
}
/*** for 6 inch devices ***/
@media only screen and (max-width: 600px)
{
    body
    {
    background-color: #5569cf;
    background-image: linear-gradient(43deg, #5569cf 0%, #c951c1 46%, #d3aa5d 100%);
    transition: 300ms ease;
    }
    body::before
    {
        width: 0;
        height: 0;
    }
    body::after
    {
        width: 0;
        height: 0;
    }
    .headpage
    {
        display: block;
        position: absolute;
        top: 6%;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
        z-index: 100;
        padding: 11px 20px;
        margin: 0 40px;
        font-size: 14px;
        border-radius: 7px;
    }
    .headpage h1
    {
        display: block;
        font-family: Arial;
        color: #181818;
        text-align: left;
        text-transform: uppercase;
    }
    .headpage button
    {
        display: block;
        position: absolute;
        top: 4%;
        right: 2%;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.2);
        border: 0.5px solid rgba(255, 255, 255, 0.02);
        border-radius: 50%;
        padding: 1px 4px;
    }
    .headpage button:focus
    {
        outline: none;
        background: rgba(255, 255, 255, 0.2);
    }
@import url('https://fonts.googleapis.com/icon?family=Source+Code+Pro');
    .headpage p
    {
        display: block;
        text-align: left;
        font-family: 'Source Code Pro';
        color: #555;
    }
    .headpage h3
    {
        padding-top: 12px;
        color: #222;
        font-size: 14px;
        font-weight: normal;
    }
    .headpage b
    {
        color: #000;
        font-weight: bold;
    }
    .headpage a
    {
        text-decoration: none;
        color: #008250;
        transition: 100ms;
    }
    .headpage a:hover
    {
        text-decoration: underline;
        color: #008250;
    }
    .container
    {
        backdrop-filter: none;
    }
}
