@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Open+Sans:wght@300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    position: relative;
    margin-top: 5%;
    font-size: 64px;
}
h1 span {
    display: inline-block;
    color: #808080;
    animation: anim 700ms 1 linear;
}
@keyframes anim {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
/* h1::after {
    content: '';
    margin-top: 20px;
    display: block;
    width: 95%;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    height: 0;
    border: 1px solid #646464;
    border-radius: 15px;
} */
.line {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    height: 0;
    border: 1px solid #646464;
    border-radius: 15px;
    animation: wide 500ms 1 linear;
}
@keyframes wide {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}
p {
    display: inline-block;
    position: relative;
}
.hero {
    margin-top: 8%;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 0 5%;
    line-height: 150%;
    letter-spacing: 1.3px;
}
.sub-hero {
    margin-top: 15%;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 450px;
    text-align: center;
    padding: 0 5%;
    text-transform: capitalize;
}
.about-us {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #181818;
}
.about-us .a {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 25px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Manrope', sans-serif;
    color: white;
    letter-spacing: 2.3px;
}
.about-us .a .image {
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.7);
    margin: 20px 0;
    border-radius: 50%;
}
#a {
    margin-top: 50px;
}
.a h3 {
    font-weight: 600px;
    padding-top: 10px;
}
.a p {
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 20px;
}
ul {
    display: flex;
}
/* LISTS WILL BE SOCIAL ICONS
    YOU CAN GET THESE ICONS FROM
    *FONTAWESOME CDN */
ul li {
    list-style: none;
    text-decoration: none;
    padding: 50px 25px 20px;
}
ul li a {
    font-size: 18px;
    color: white;
}
.footer {
    padding: 20px 6px;
    height: 100%;
    width: 100%;
    background: white;
}
.footer p {
    color: black;
    font-family: 'Manrope', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 450px;
}
@media only screen and (min-width: 1024px) {
    h1::after {
        width: 75%;
        margin-left: 50%;
        transform: translate(-50%);
    }
}
